# Prediccion de Default en Prestamos

Para este proyecto utilizaremos un sample de los datos de Lending Club. La idea es predecir si cierto usuario cometera Default basado en informacion que la plataforma recolecta. Esto nos ayudara a mejorar la metodologia/pipeline de prestamo.

# Descripcion



Contiene los prestamos de esta plataforma:

    periodo 2007-2017Q3.
    887mil observaciones, sample de 100mil
    150 variables
    Target: loan status

# Objetivo

Realizar un ETL y un EDA

## ETL

0. Limpia los datos de tal manera que al final del ETL queden en formato `tidy`.
1. Asegurate de cargar y leer los datos
2. Crea una tabla donde se guarde el nombre de la columna y el tipo de dato: (`column_name`,   `type`).
3. Asegurate de pensar cual es el tipo de dato correcto. Porque elejiste strig/object o float o int?. No hay respuestas incorrectas como tal, pero tienes que justificar tu decision.
4. Maneja missings o nans de la manera adecuada. Justifica cada decision

## EDA

0. Preparar lo datos para un pipeline de datos
1. Quitar columnas inservibles 
2. Imputar valores
3. Mantener replicabildiad y reproducibilidad

**No olvides anotar tus justificaciones en celdas para recordar cuando te toque explicarlo.** Puedes agregar el numero de celdas que necesites para poner tu explicacion y el codigo, solo manten la estructura.

REVISIÃ“N POR GIANCARLO DE LA ROSA (G)

# ETL

In [9]:
import pandas as pd
import numpy as np
pd.set_option("display.max_columns", None)
pd.set_option('display.max_colwidth', None)

Vas a obtener 2 errores, solucionalo con los visto en clase.  
Tip: Se arreglan con argumentos adicionales de la funcion `read_csv`  
Documentacion: https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

In [10]:
loans = pd.read_csv('https://github.com/sonder-art/fdd_prim_2023/blob/main/codigo/pandas/LoansData_sample.csv.gz?raw=true', compression="gzip") 
loans

/tmp/ipykernel_1537/18600911.py:1: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  loans = pd.read_csv('https://github.com/sonder-art/fdd_prim_2023/blob/main/codigo/pandas/LoansData_sample.csv.gz?raw=true', compression="gzip")

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,fico_range_low,fico_range_high,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,last_fico_range_high,last_fico_range_low,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_fico_range_low,sec_app_fico_range_high,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,0,38098114,NaN,15000.0,15000.0,15000.0,60 months,12.39,336.64,C,C1,MANAGEMENT,10+ years,RENT,78000.0,Source Verified,Dec-2014,Fully Paid,n,NaN,debt_consolidation,Debt consolidation,235xx,VA,12.03,0.0,Aug-1994,750.0,754.0,0.0,NaN,NaN,6.0,0.0,138008.0,29.0,17.0,w,0.00,0.00,17392.370000,17392.37,15000.00,2392.37,0.0,0.00,0.0000,Jun-2016,12017.81,NaN,Nov-2017,684.0,680.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,149140.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,184500.0,NaN,NaN,NaN,5.0,29828.0,9525.0,4.7,0.0,0.0,103.0,244.0,1.0,1.0,0.0,47.0,NaN,NaN,NaN,0.0,1.0,4.0,1.0,2.0,8.0,5.0,9.0,4.0,6.0,0.0,0.0,0.0,4.0,100.0,0.0,0.0,0.0,196500.0,149140.0,10000.0,12000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,1,36805548,NaN,10400.0,10400.0,10400.0,36 months,6.99,321.08,A,A3,Truck Driver Delivery Personel,8 years,MORTGAGE,58000.0,Not Verified,Dec-2014,Charged Off,n,NaN,credit_card,Credit card refinancing,937xx,CA,14.92,0.0,Sep-1989,710.0,714.0,2.0,42.0,NaN,17.0,0.0,6133.0,31.6,36.0,w,0.00,0.00,6611.690000,6611.69,5217.75,872.67,0.0,521.27,93.8286,Aug-2016,321.08,NaN,Feb-2017,564.0,560.0,0.0,59.0,1.0,Individual,NaN,NaN,NaN,0.0,0.0,162110.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19400.0,NaN,NaN,NaN,7.0,9536.0,7599.0,41.5,0.0,0.0,76.0,290.0,1.0,1.0,1.0,5.0,42.0,1.0,42.0,4.0,6.0,9.0,7.0,18.0,2.0,14.0,32.0,9.0,17.0,0.0,0.0,0.0,4.0,83.3,14.3,0.0,0.0,179407.0,15030.0,13000.0,11325.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,2,37842129,NaN,21425.0,21425.0,21425.0,60 months,15.59,516.36,D,D1,Programming Analysis Supervisor,6 years,RENT,63800.0,Source Verified,Dec-2014,Fully Paid,n,NaN,credit_card,Credit card refinancing,658xx,MO,18.49,0.0,Aug-2003,685.0,689.0,0.0,60.0,NaN,10.0,0.0,16374.0,76.2,35.0,w,0.00,0.00,25512.200000,25512.20,21425.00,4087.20,0.0,0.00,0.0000,May-2016,17813.19,NaN,Dec-2017,704.0,700.0,0.0,74.0,1.0,Individual,NaN,NaN,NaN,0.0,0.0,42315.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21500.0,NaN,NaN,NaN,4.0,4232.0,324.0,97.8,0.0,0.0,135.0,136.0,7.0,7.0,0.0,7.0,60.0,7.0,60.0,1.0,3.0,4.0,3.0,12.0,16.0,5.0,18.0,4.0,10.0,0.0,0.0,0.0,2.0,91.4,100.0,0.0,0.0,57073.0,42315.0,15000.0,35573.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,3,37612354,NaN,12800.0,12800.0,12800.0,60 months,17.14,319.08,D,D4,Senior Sales Professional,10+ years,MORTGAGE,125000.0,Verified,Dec-2014,Current,n,NaN,car,Car financing,953xx,CA,8.31,1.0,Oct-2000,665.0,669.0,0.0,17.0,NaN,8.0,0.0,5753.0,100.9,13.0,w,6673.54,6673.54,11207.670000,11207.67,6126.46,5081.21,0.0,0.00,0.0000,Dec-2017,319.08,Jan-2018,Dec-2017,629.0,625.0,0.0,36.0,1.0,Individual,NaN,NaN,NaN,0.0,0.0,261815.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5700.0,NaN,NaN,NaN,2.0,32727.0,0.0,103.2,0.0,0.0,16.0,170.0,21.0,16.0,5.0,21.0,17.0,1.0,17.0,1.0,3.0,5.0,3.0,5.0,1.0,5.0,7.0,5.0,8.0,0.0,0.0,0.0,0.0,76.9,100.0,0.0,0.0,368700.0,18007.0,4400.0,18000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,4,37662224,NaN,7650.0,7650.0,7650.0,36 months,13.66,260.20,C,C3,Technical Specialist,< 1 year,RENT,50000.0,Source Verified,Dec-2014,Charged Off,n,NaN,debt_consolidation,Debt consolidation,850xx,AZ,34.81,0.0,Aug-2002,685.0,689.0,1.0,NaN,NaN,11.0,0.0,16822.0,91.9,20.0,f,0.00,0.00,2281.980000,2281.98,704.38,339.61,0.0,1237.99,222.8382,Aug-2015,17.70,NaN,Oct-2016,559.0,555.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,64426.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18300.0,NaN,NaN,NaN,6.0,5857.0,332.0,93.2,0.0,0.0,137.0,148.0,8.0,8.0,0.0,17.0,NaN,3.0,NaN,0.0,1.0,4.0,1.0,4.0,12.0,4.0,8.0,4.0,11.0,0.0,0.0,0.0,2.0,100.0,100.0,0.0,0.0,82331.0,64426.0,4900.0,64031.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99995,22454240,NaN,8400.0,8400.0,8400.0,36 months,9.17,267.79,B,B1,Software Engineer,2 years,MORTGAGE,91000.0,Source Verified,Aug-2014,Fully Paid,n,NaN,debt_consolidation,Debt consolidation,606xx,IL,7.78,1.0,Aug-1990,705.0,709.0,1.0,19.0,54.0,6.0,1.0,8495.0,55.5,16.0,w,0.00,0.00,9640.145407,9640.15,8400.00,1240.15,0.0,0.00,0.0000,Aug-2017,267.50,NaN,Dec-2017,714.0,710.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,152181.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15300.0,NaN,NaN,NaN,2.0,25364.0,2505.0,77.2,0.0,0.0,285.0,287.0,5.0,5.0,1.0,5.0,19.0,5.0,19.0,0.0,2.0,2.0,2.0,6.0,7.0,3.0,7.0,2.0,6.0,0.0,0.0,0.0,2.0,93.7,50.0,0.0,0.0,209557.0,20872.0,11000.0,15473.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99996,99996,11396920,NaN,10000.0,10000.0,10000.0,36 months,12.99,336.90,C,C1,Assistant Professor of English,3 years,RENT,53133.0,Not Verified,Aug-2014,Fully Paid,n,NaN,debt_consolidation,Debt consolidation,874xx,NM,15.25,0.0,May-2001,690.0,694.0,0.0,NaN,NaN,11.0,0.0,10326.0,42.5,17.0,f,0.00,0.00,11685.080000,11685.08,10000.00,1685.08,0.0,0.00,0.0000,Mar-2016,5594.78,NaN,Dec-2017,684.0,680.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,98.0,46413.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24300.0,NaN,NaN,NaN,3.0,4219.0,13974.0,42.5,0.0,0.0,77.0,158.0,5.0,5.0,0.0,5.0,NaN,24.0,NaN,0.0,5.0,5.0,9.0,11.0,4.0,9.0,13.0,5.0,11.0,0.0,0.0,0.0,1.0,100.0,11.1,0.0,0.0,64149.0,46413.0,24300.0,39849.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99997,99997,8556176,NaN,30000.0,30000.0,30000.0,60 months,20.99,811.44,E,E4,Facilities Tech 3,10+ years,RENT,78000.0,Verified,Aug-2014,Current,n,NaN,debt_consolidation,Debt consolidation,926xx,CA,23.75,0.0,Jun-1998,665.0,669.0,1.0,29.0,NaN,18.0,0.0,27409.0,79.0,30.0,w,13599.63,13599.63,32530.430000,32530.43,16400.37,16130.06,0.0,0.00,0.0000,Dec-2017,811.44,Jan-2018,Dec-2017,624.0,620.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,345934.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34700.0,NaN,NaN,NaN,5.0,20349.0,2354.0,89.4,0.0,0.0,155.0,193.0,1.0,1.0,2.0,12.0,29.0,1.0,29.0,0.0,7.0,12.0,7.0,9.0,5.0,15.0,22.0,12.0,18.0,0.0,0.0,0.0,4.0,93.3,100.0,0.0,0.0,371088.0,45447.0,22300.0,25212.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99998,99998,24023408,NaN,8475.0,8475.0,8475.0,36 months,24.99,336.92,F,F4,Records Examiner Analyst,10+ years,RENT,52000.0,Verified,Aug-2014,Charged Off,n,NaN,debt_consolidation,Debt consolidation,630xx,MO,17.61,2.0,Nov-2000,660.0,664.0,1.0,13.0,83.0,11.0,1.0,2962.0,35.7,29.0,f,0.00,0.00,2695.360000,2695.36,1380.97,1314.39,0.0,0.00,0.0000,Apr-2015,336.92,NaN,Dec-2017,609.0,605.0,0.0,17.0,1.0,Individual,NaN,NaN,NaN,0.0,2066.0,31247.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8300.0,NaN,NaN,NaN,8.0,3125.0,324.0,88.0,0.0,0.0,141.0,164.0,7.0,1.0,0.0,7.0,17.0,4.0,17.0,2.0,1.0,3.0,1.0,4.0,11.0,8.0,18.0,3.0,11.0,0.0,0.0,1.0,6.0,86.4,100.0,1.0,0.0,43686.0,31247.0,2700.0,35386.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99999,99999,24023398,NaN,25000.0,25000.0,25000.0,36 months,10.15,808.45,B,B2,Occupational Theapy Assistant,3 years,OWN,60000.0,Source Verified,Aug-2014,Fully Paid,n,NaN,debt_consolidation,Debt consolidation,468xx,IN,27.82,0.0,Jul-1999,730.0,734.0,0.0,NaN,NaN,23.0,0.0,23719.0,40.3,35.0,w,0.00,0.00,29024.061162,29024.06,25000.00,4024.06,0.0,0.00,0.0000,Mar-2017,4759.78,NaN,Dec-2017,754.0,750.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,233053.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58900.0,NaN,NaN,NaN,5.0,10133.0,17153.0,57.4,0.0,0.0,104.0,180.0,1.0,1.0,2.0,8.0,NaN,13.0,NaN,0.0,5.0,7.0,5.0,9.0,13.0,10.0,19.0,7.0,23.0,0.0,0.0,0.0,3.0,100.0,40.0,0.0,0.0,290888.0,71301.0,40300.0,64888.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

G: Estuvo bien solucionado el problema de read_csv

## Tabla (column_name, type)

Revisa el metodo pd.DataFrame.dtypes. https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dtypes.html

In [11]:
column_types = loans.dtypes
column_types

Unnamed: 0                 int64
id                         int64
member_id                float64
loan_amnt                float64
funded_amnt              float64
                          ...
settlement_status         object
settlement_date           object
settlement_amount        float64
settlement_percentage    float64
settlement_term          float64
Length: 151, dtype: object

## Cargar descripcion de columnas

La siguiente tabla tiene una descripcion del significado de cada columna

In [12]:


datos_dict = pd.read_excel(
    'https://resources.lendingclub.com/LCDataDictionary.xlsx')
datos_dict.columns = ['feature', 'description']

In [13]:
datos_dict

,feature,description
0,acc_now_delinq,The number of accounts on which the borrower is now delinquent.
1,acc_open_past_24mths,Number of trades opened in past 24 months.
2,addr_state,The state provided by the borrower in the loan application
3,all_util,Balance to credit limit on all trades
4,annual_inc,The self-reported annual income provided by the borrower during registration.
...,...,...
148,settlement_amount,The loan amount that the borrower has agreed to settle for
149,settlement_percentage,The settlement amount as a percentage of the payoff balance amount on the loan
150,settlement_term,The number of months that the borrower will be on the settlement plan
151,NaN,NaN
152,NaN,* Employer Title replaces Employer Name for all loans listed after 9/23/2013

G: Se leyÃ³ bien el Excel utilizando la funciÃ³n read_excel

### Pickle

Crea codigo para **guardar** y **cargar** el DataFrame de `datos_dict` creada en las celdas anteriores en formato **pickle**

In [14]:
import pickle

In [15]:
# Codigo guardar
datos_dict.to_pickle('datos_dict.pkl')

# Codigo cargar
datos_dict_pickle = pd.read_pickle('datos_dict.pkl')
datos_dict_pickle

,feature,description
0,acc_now_delinq,The number of accounts on which the borrower is now delinquent.
1,acc_open_past_24mths,Number of trades opened in past 24 months.
2,addr_state,The state provided by the borrower in the loan application
3,all_util,Balance to credit limit on all trades
4,annual_inc,The self-reported annual income provided by the borrower during registration.
...,...,...
148,settlement_amount,The loan amount that the borrower has agreed to settle for
149,settlement_percentage,The settlement amount as a percentage of the payoff balance amount on the loan
150,settlement_term,The number of months that the borrower will be on the settlement plan
151,NaN,NaN
152,NaN,* Employer Title replaces Employer Name for all loans listed after 9/23/2013

G: Se creÃ³ correctamente el pickle

## Tipos de Datos

Realiza las transformaciones o casteos (casting) que creas necesarios a tus datos de tal manera que el typo de dato sea adecuado. Al terminar recrea la tabla `column_types` con los nuevos tipos.

No olvides anotar tus justificaciones para recordar cuando te toque explicarlo.

In [16]:
loans.set_index("id", inplace=True)

In [17]:
# Tomamos un subset con aquellas columnas de datos que pueden ser de interes, descartamos las columnas que tienen NaN y algunas otras que no necesitarÃ­an cambiar su dType

loans_sub = loans[['loan_amnt' , 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate', 'installment', 'grade', 
                      'sub_grade', 'emp_length', 'home_ownership', 'annual_inc', 'verification_status', 'loan_status',
                      'pymnt_plan', 'purpose', 'dti', 'delinq_2yrs', 'earliest_cr_line', 'open_acc', 'revol_bal', 'total_acc', 'total_pymnt', 'total_pymnt_inv', 
                      'last_pymnt_d', 'last_pymnt_amnt', 'tot_cur_bal', 'acc_open_past_24mths', 'avg_cur_bal', 'pct_tl_nvr_dlq', 'tot_hi_cred_lim']]

loans_sub

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_inc,verification_status,loan_status,pymnt_plan,purpose,dti,delinq_2yrs,earliest_cr_line,open_acc,revol_bal,total_acc,total_pymnt,total_pymnt_inv,last_pymnt_d,last_pymnt_amnt,tot_cur_bal,acc_open_past_24mths,avg_cur_bal,pct_tl_nvr_dlq,tot_hi_cred_lim
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
38098114,15000.0,15000.0,15000.0,60 months,12.39,336.64,C,C1,10+ years,RENT,78000.0,Source Verified,Fully Paid,n,debt_consolidation,12.03,0.0,Aug-1994,6.0,138008.0,17.0,17392.370000,17392.37,Jun-2016,12017.81,149140.0,5.0,29828.0,100.0,196500.0
36805548,10400.0,10400.0,10400.0,36 months,6.99,321.08,A,A3,8 years,MORTGAGE,58000.0,Not Verified,Charged Off,n,credit_card,14.92,0.0,Sep-1989,17.0,6133.0,36.0,6611.690000,6611.69,Aug-2016,321.08,162110.0,7.0,9536.0,83.3,179407.0
37842129,21425.0,21425.0,21425.0,60 months,15.59,516.36,D,D1,6 years,RENT,63800.0,Source Verified,Fully Paid,n,credit_card,18.49,0.0,Aug-2003,10.0,16374.0,35.0,25512.200000,25512.20,May-2016,17813.19,42315.0,4.0,4232.0,91.4,57073.0
37612354,12800.0,12800.0,12800.0,60 months,17.14,319.08,D,D4,10+ years,MORTGAGE,125000.0,Verified,Current,n,car,8.31,1.0,Oct-2000,8.0,5753.0,13.0,11207.670000,11207.67,Dec-2017,319.08,261815.0,2.0,32727.0,76.9,368700.0
37662224,7650.0,7650.0,7650.0,36 months,13.66,260.20,C,C3,< 1 year,RENT,50000.0,Source Verified,Charged Off,n,debt_consolidation,34.81,0.0,Aug-2002,11.0,16822.0,20.0,2281.980000,2281.98,Aug-2015,17.70,64426.0,6.0,5857.0,100.0,82331.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22454240,8400.0,8400.0,8400.0,36 months,9.17,267.79,B,B1,2 years,MORTGAGE,91000.0,Source Verified,Fully Paid,n,debt_consolidation,7.78,1.0,Aug-1990,6.0,8495.0,16.0,9640.145407,9640.15,Aug-2017,267.50,152181.0,2.0,25364.0,93.7,209557.0
11396920,10000.0,10000.0,10000.0,36 months,12.99,336.90,C,C1,3 years,RENT,53133.0,Not Verified,Fully Paid,n,debt_consolidation,15.25,0.0,May-2001,11.0,10326.0,17.0,11685.080000,11685.08,Mar-2016,5594.78,46413.0,3.0,4219.0,100.0,64149.0
8556176,30000.0,30000.0,30000.0,60 months,20.99,811.44,E,E4,10+ years,RENT,78000.0,Verified,Current,n,debt_consolidation,23.75,0.0,Jun-1998,18.0,27409.0,30.0,32530.430000,32530.43,Dec-2017,811.44,345934.0,5.0,20349.0,93.3,371088.0
24023408,8475.0,8475.0,8475.0,36 months,24.99,336.92,F,F4,10+ years,RENT,52000.0,Verified,Charged Off,n,debt_consolidation,17.61,2.0,Nov-2000,11.0,2962.0,29.0,2695.360000,2695.36,Apr-2015,336.92,31247.0,8.0,3125.0,86.4,43686.0
24023398,25000.0,25000.0,25000.0,36 months,10.15,808.45,B,B2,3 years,OWN,60000.0,Source Verified,Fully Paid,n,debt_consolidation,27.82,0.0,Jul-1999,23.0,23719.0,35.0,29024.061162,29024.06,Mar-2017,4759.78,233053.0,5.0,10133.0,100.0,290888.0

In [18]:
# Obseravamos que hay algunos datos que podrÃ­an ser casteados : term, las fechas, emp_length, pyment_plan, annual_inc, loan_amnt

In [19]:
# Lo pasamos a int
loans_sub['annual_inc']=loans['annual_inc'].astype(np.int64)

/tmp/ipykernel_1537/818819877.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loans_sub['annual_inc']=loans['annual_inc'].astype(np.int64)

In [22]:
# Lo pasamos a int
loans_sub['loan_amnt']=loans['loan_amnt'].astype(np.int64)

/tmp/ipykernel_1537/213683603.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loans_sub['loan_amnt']=loans['loan_amnt'].astype(np.int64)

In [23]:
# Reemplazamos los n y y con booleanos
loans_sub["pymnt_plan"].replace({"n":False, "y":True}, inplace=True)

/tmp/ipykernel_1537/2094140778.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loans_sub["pymnt_plan"].replace({"n":False, "y":True}, inplace=True)

In [24]:
# Reemplazamos a int en lugar de tener num y letra
loans_sub["term"].replace({" 36 months":"36", " 60 months":"60"}, inplace=True)
loans_sub["term"] = loans_sub["term"].astype("int")

/tmp/ipykernel_1537/4125431414.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loans_sub["term"].replace({" 36 months":"36", " 60 months":"60"}, inplace=True)
/tmp/ipykernel_1537/4125431414.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loans_sub["term"] = loans_sub["term"].astype("int")

In [25]:
# Reemplazamos a float en lugar de tener num y letra
loans_sub["emp_length"].replace({"10+ years":"10", "8 years":"8", "6 years":"6", "< 1 year":"0", "2 years":"2"
, "9 years":"9", "7 years":"7", "5 years":"5", "3 years":"3", "1 year":"1", "4 years":"4"}, inplace=True)
loans_sub["emp_length"] = loans_sub["emp_length"].astype('float')

/tmp/ipykernel_1537/3453322953.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loans_sub["emp_length"].replace({"10+ years":"10", "8 years":"8", "6 years":"6", "< 1 year":"0", "2 years":"2"
/tmp/ipykernel_1537/3453322953.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loans_sub["emp_length"] = loans_sub["emp_length"].astype('float')

In [26]:
# Casteamos las fechas a datetime

loans_sub['last_pymnt_d'] = pd.to_datetime(loans_sub['last_pymnt_d'])
loans_sub['last_pymnt_d'] = loans_sub['last_pymnt_d'].dt.to_period('M')

loans_sub['earliest_cr_line'] = pd.to_datetime(loans_sub['earliest_cr_line'])
loans_sub['earliest_cr_line'] = loans_sub['earliest_cr_line'].dt.to_period('M')

/tmp/ipykernel_1537/2569851479.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loans_sub['last_pymnt_d'] = pd.to_datetime(loans_sub['last_pymnt_d'])
/tmp/ipykernel_1537/2569851479.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loans_sub['last_pymnt_d'] = loans_sub['last_pymnt_d'].dt.to_period('M')
/tmp/ipykernel_1537/2569851479.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loans_sub['earliest_cr_line'] = pd.to_datetime(loans_sub['earliest_cr_line'])
/tmp/ipykernel_1537/2569851479.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loans_sub['earliest_cr_line'] = loans_sub['earliest_cr_line'].dt.to_period('M')

In [27]:
column_types = loans_sub.dtypes
column_types

loan_amnt                   int64
funded_amnt               float64
funded_amnt_inv           float64
term                        int64
int_rate                  float64
installment               float64
grade                      object
sub_grade                  object
emp_length                float64
home_ownership             object
annual_inc                  int64
verification_status        object
loan_status                object
pymnt_plan                   bool
purpose                    object
dti                       float64
delinq_2yrs               float64
earliest_cr_line        period[M]
open_acc                  float64
revol_bal                 float64
total_acc                 float64
total_pymnt               float64
total_pymnt_inv           float64
last_pymnt_d            period[M]
last_pymnt_amnt           float64
tot_cur_bal               float64
acc_open_past_24mths      float64
avg_cur_bal               float64
pct_tl_nvr_dlq            float64
tot_hi_cred_lim           float64
dtype: object

G: El casteo se hizo correctamente y se entiende su criterio.

## Manejo de NaNs o missings

Maneja los datos de tipos missing. Elije una estrategia adecuada dependiendo del tipo de dato que le asignaste a la columna.

Crea codigo para **guardar** y **cargar** un archivo JSON en el que se guarde la `estrategia` y `valor` que utilizaste para **imputar**. Por ejemplo: Si hay una columna que se llama `columna 3` y utilizaste la estrategia de imputacion de media, y existe otra llamada `columna 4` y  elegiste la palabra 'missing' el JSON debera contener:  
  
 `{'columna 3':{'estrategia':'mean', 'valor':3.4}, 'columna 4':{'estrategia':'identificador', 'valor':'missing'}}`  

 De tal manera que para cada columna que tenga un metodo de imputacion apunte a otro diccionario donde el **key** `estrategia` describa de manera sencilla el metodo, y el **key** `valor` el valor usado. En general:   
 `{'nombre de la columna':{'estrategia':'descripcion de estrategia', 'valor':'valor utilizado'}}`. 
 

De utilizar mas de un metodo puedes anidarlos en una lista  
  `[{...},{...}]`.  

Incluso si la columna utilizada no sufrio imputacion, es necesario que la agregues al JSON.

La idea es que cualquier otra persona pueda cargar el el archivo JSON con tu funcion, entender que hiciste y replicarlo facilmente. No existe solo una respuesta correcta, pero tendras que justificar y explicar tus deciciones.

### Imputacion

In [28]:
loans_sub.isna().sum()

loan_amnt                  0
funded_amnt                0
funded_amnt_inv            0
term                       0
int_rate                   0
installment                0
grade                      0
sub_grade                  0
emp_length              5259
home_ownership             0
annual_inc                 0
verification_status        0
loan_status                0
pymnt_plan                 0
purpose                    0
dti                        0
delinq_2yrs                0
earliest_cr_line           0
open_acc                   0
revol_bal                  0
total_acc                  0
total_pymnt                0
total_pymnt_inv            0
last_pymnt_d              67
last_pymnt_amnt            0
tot_cur_bal                0
acc_open_past_24mths       0
avg_cur_bal                0
pct_tl_nvr_dlq             0
tot_hi_cred_lim            0
dtype: int64

In [29]:
# Teenemos NaN en emp_length y last_pymnt_amnt
loans_sub["last_pymnt_d"].fillna("missing", inplace=True)
loans_sub["emp_length"].fillna("missing", inplace=True)

/tmp/ipykernel_1537/1368469203.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loans_sub["last_pymnt_d"].fillna("missing", inplace=True)
/tmp/ipykernel_1537/1368469203.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loans_sub["emp_length"].fillna("missing", inplace=True)

In [30]:
loans_sub.isna().sum()
# Ya no hay NaN

loan_amnt               0
funded_amnt             0
funded_amnt_inv         0
term                    0
int_rate                0
installment             0
grade                   0
sub_grade               0
emp_length              0
home_ownership          0
annual_inc              0
verification_status     0
loan_status             0
pymnt_plan              0
purpose                 0
dti                     0
delinq_2yrs             0
earliest_cr_line        0
open_acc                0
revol_bal               0
total_acc               0
total_pymnt             0
total_pymnt_inv         0
last_pymnt_d            0
last_pymnt_amnt         0
tot_cur_bal             0
acc_open_past_24mths    0
avg_cur_bal             0
pct_tl_nvr_dlq          0
tot_hi_cred_lim         0
dtype: int64

### Codigo para salvar y cargar JSONs

In [31]:
import json

In [32]:
with open("columnas.json", "w") as archivo:

    d = {'loan_amnt':{} , 'funded_amnt':{}, 'funded_amnt_inv':{}, 'term':{}, 'int_rate':{}, 'installment':{}, 'sub_grade':{}, "emp_length":{}, 'home_ownership':{}, 'annual_inc':{}, 'verification_status':{}, 'loan_status':{}, 'pymnt_plan':{}, 'purpose':{}, 'dti':{}, 'delinq_2yrs':{}, 'earliest_cr_line':{}, 'open_acc':{}, 'revol_bal':{}, 'total_acc':{}, 'total_pymnt':{}, 'total_pymnt_inv':{}, "last_pymnt_d": {"estrategia":"identificador", "valor":"missing"}, 'last_pymnt_amnt':{}, 'tot_cur_bal':{}, 'acc_open_past_24mths':{}, 'avg_cur_bal':{}, 'pct_tl_nvr_dlq':{}, 'tot_hi_cred_lim':{}}
    json.dump(d, archivo, indent=2)

In [33]:
with open("columnas.json") as archivo:

    d = json.load(archivo)
    print(d)

{'loan_amnt': {}, 'funded_amnt': {}, 'funded_amnt_inv': {}, 'term': {}, 'int_rate': {}, 'installment': {}, 'sub_grade': {}, 'emp_length': {}, 'home_ownership': {}, 'annual_inc': {}, 'verification_status': {}, 'loan_status': {}, 'pymnt_plan': {}, 'purpose': {}, 'dti': {}, 'delinq_2yrs': {}, 'earliest_cr_line': {}, 'open_acc': {}, 'revol_bal': {}, 'total_acc': {}, 'total_pymnt': {}, 'total_pymnt_inv': {}, 'last_pymnt_d': {'estrategia': 'identificador', 'valor': 'missing'}, 'last_pymnt_amnt': {}, 'tot_cur_bal': {}, 'acc_open_past_24mths': {}, 'avg_cur_bal': {}, 'pct_tl_nvr_dlq': {}, 'tot_hi_cred_lim': {}}

G: Carga del archivo JSON bien hecho.

G: En general, toda la limpieza se hizo de correctamente y entendible para cualquiera que quisiera revisar el proceso.